@charset "UTF-8";
*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
height: auto
}
main{
    background-color:white;
    width: 700px;
    bottom: 10px;
    padding: 10px;
    margin: auto;
    border-radius:2%;
    box-shadow: 5px 5px 5px 10px #D93654;
}

body{
    background-image:radial-gradient(#99F2E9 20%, #57B7F2, #3084F2);
}

header{
    margin-top: auto;
    margin-bottom: 20px;
    bottom: 100px;
    color: white;
    background-color: #D93654;
    text-align: justify;
    list-style: none;
    display: flex;
margin-left: auto;

}

.Titulo{
    border-left: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: #042970;
    background-color: #F0E206;


}

p{text-align: justify;}

h1{
    background-color: #3084F2;
    text-align: center;
}

h2{
    background-color: yellow;
}

.menu{
    color: white;
    text-decoration: none;
    text-transform:initial;
}